// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .member-page {
        .form-search {
            .title {
                p.main-title {
                    font-size: 42px;
                }
                p.sub-title {
                    font-size: 14px;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .member-page-data {
        .data-content {
            .breadcrumb-container {
                padding-bottom: 0;
            }
            .form-search {
                padding-top: 10px;
            }
            .detail {
                .detail-wrapper {
                    margin-top: 0;
                    h1.judul {
                        font-size: 28px;
                    }
                }
            }  
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .member-page {
        .form-search {
            .title {
                p.main-title {
                    font-size: 44px;
                }
                p.sub-title {
                    font-size: 15px;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .member-page-data {
        .data-content {
            .breadcrumb-container {
                padding-bottom: 0;
            }
            .form-search {
                padding-top: 10px;
            }
            .detail {
                .detail-wrapper {
                    margin-top: 0;
                    h1.judul {
                        font-size: 28px;
                    }
                }
            }   
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    .member-page {
        .form-search {
            .title {
                p.main-title {
                    font-size: 48px;
                }
                p.sub-title {
                    font-size: 16px;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .member-page-data {
        .data-content {
            .detail {
                .detail-wrapper {
                    margin-top: 10px;
                    h1.judul {
                        font-size: 30px;
                    }
                }
            }   
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) { 

}