// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .member-page {
        .form-search {
            .title {
                p.main-title {
                    font-size: 32px;
                }
                p.sub-title {
                    font-size: 13px;
                    margin-top: 5px;
                    letter-spacing: 0;
                }
            }
            .pilihan-search {
                display: none;
            }
        }
        footer {
            font-size: 11px;
        }
    }
    .member-page-data {
        .data-content {
            .breadcrumb-container {
                padding-bottom: 0;
            }
            .form-search {
                padding-top: 10px;
            }
            .detail {
                .detail-wrapper {
                    margin-top: 0;
                    h1.judul {
                        font-size: 28px;
                    }
                }
            }  
        }
    }
    .dropdown-menu-member {
        width: 230px !important;
    }
    .form-search-member-side {
        margin-top: 50px;
    }
    .breadcrumb-container-member {
        margin-bottom: 10px;
    }
    .form-edit-profile {
        margin-top: 45px;
        .gray-wrapper {
            padding: 40px 10px !important;
        }
    }
    .username-edit-member {
        padding-left: 15px !important;
        margin-top: -15px !important;
    }
    .name-edit-member {
        padding-right: 15px !important;
    }
    .petunjuk-edit {
        padding-left: 25px !important;
        button {
            padding-left: 35px !important;
            padding-right: 35px !important;
        }
    }
    .book-ebook-detail img {
        padding-top: 50px;
    }
    .preview-pdf-ebook {
        margin-top: 50px;
    }
    .form-change-password-member {
        .right-form {
            padding-right: 13px !important;
        }
        .left-form {
            padding-left: 13px !important;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .member-page {
        .form-search {
            .title {
                p.main-title {
                    font-size: 44px;
                }
                p.sub-title {
                    font-size: 15px;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .member-page-data {
        .data-content {
            .breadcrumb-container {
                padding-bottom: 0;
            }
            .form-search {
                padding-top: 10px;
            }
            .detail {
                .detail-wrapper {
                    margin-top: 0;
                    h1.judul {
                        font-size: 28px;
                    }
                }
            }   
        }
    }
    .dropdown-menu-member {
        width: 230px !important;
    }
    .form-search-member-side {
        margin-top: 50px;
    }
    .breadcrumb-container-member {
        margin-bottom: 10px;
    }
    .book-ebook-detail img {
        padding-top: 50px;
    }
    .preview-pdf-ebook {
        margin-top: 50px;
    }
    .form-edit-profile {
        margin-top: 45px;
    }
    .username-edit-member {
        padding-left: 15px !important;
        margin-top: -15px !important;
    }
    .name-edit-member {
        padding-right: 15px !important;
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    .member-page {
        .form-search {
            .title {
                p.main-title {
                    font-size: 48px;
                }
                p.sub-title {
                    font-size: 16px;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .member-page-data {
        .data-content {
            .detail {
                .detail-wrapper {
                    margin-top: 10px;
                    h1.judul {
                        font-size: 30px;
                    }
                }
            }   
        }
    }
    .breadcrumb-container-member {
        margin-bottom: 5px;
    }
    .book-ebook-detail img, .book-ebook-detail-data {
        padding-top: 30px;
    }
    .preview-pdf-ebook {
        margin-top: 30px;
    }
    .form-edit-profile {
        margin-top: 45px;
    }
}