nav.nav-landing {
    padding: 25px 50px;
    z-index: 9;
    .nav-link, .btn {
        font-size: 20px;
    }
    .nav-link {
        color: #013D2D !important;
        font-weight: 500;
        &:hover {
            color: #008864 !important;
        }
    }
    button {
        font-size: 26px;
        border: none;
        padding: 5px 10px;
        &:focus {
            outline: 5px auto #13aa63 !important;
        }
    }
}

.page-1 {
    background-color: #fff;
    .green-square {
        .address-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        p {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            padding-left: 25px;
            box-sizing: border-box;
        }
    }
    .vector .vector-1 img {
        position: absolute;
        top: 45px;
        right: 35px;
        width: 800px;
    }
    .vector .vector-2 img {
        display: none;
    }
    .words-1 {
        padding: 190px 50px;
        color: #013D2D;
        h1 {
            font-size: 75px;
            font-family: segoe;
        }
        h2 {
            font-size: 30px;
            font-weight: 400;
        }
        p {
            font-size: 21px;
            line-height: 28px;
            margin-top: 30px;
        }
        a.btn {
            margin-top: 20px;
        }
    }
}

.page-2 {
    padding-top: 163px;
    .info-container {
        h1.title-page {
            font-family: segoe;
            font-size: 30px;
        }
        .info-item {
            width: 100%;
            height: 320px;
            padding: 0 !important;
            .icon-item {
                padding: 15px 0;
                font-size: 18px;
                border-bottom: 2px solid white;
                .icon-wrapper {
                    width: 50px;
                    height: 50px;
                    padding-top: 12px;
                    box-sizing: border-box;
                    margin: auto;
                    border-radius: 100%;
                }
            }
        }
        .info-item-green {
            background-color: #7AA653;
        }
        .info-item-gray {
            background-color: #ececec;
        }
        .counter-data {
            .title {
                font-family: segoe;
                line-height: 22px;
                font-size: 17px;
            }
            .value {
                font-size: 62px;
                font-family: number;
            }
        }
        .date-info {
            padding: 15px 5px;
            font-family: roboto;
            font-size: 15px;
            p {
                margin: 0;
            }
        }
    }
}
.page-3 {
    height: 645px;
    .gallery-container {
        padding-top: 50px;
        h1.title-page {
            font-family: segoe;
            font-size: 30px;
        }
        .col-gallery {
            padding: 3px !important;
            .gallery-item {
                width: 100%;
                background-color: #DDDDDD;
                height: 175px;
                img {
                    width: 100%;
                    height: 175px;
                    object-fit: cover;
                }
            }
        }
        button.btn-more-gallery {
            margin: auto;
            width: 350px;
        }
        .collapse-gallery {
            background-color: #f8fafc;
            border: 0px solid black !important;
        }
    }
}

footer {
    background-color: #388751;
    padding: 25px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h5 {
        font-size: 19px;
    }
    .email {
        color: rgb(255, 255, 255);
        font-size: 13px;
        margin-bottom: -14px;
    }
    .address {
        color: rgb(255, 255, 255);
        font-size: 11px;
    }
    ul {
        li {
            margin-left: -20px;
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                    color: rgb(216, 216, 216);
                }
            }
        }
    }
    table {
        tr {
            width: 50%;
        }
    }
}

.up-btn {
    bottom: 20px;
    right: 20px;
    margin-bottom: -80px;
    button {
        width: 55px;
        height: 55px;
        background-color: #388751;
        font-size: 21px;
        &:hover {  
            background-color: #013D2D;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(44, 165, 64, 0.575) !important;
        }
    }
}

.wa-btn {
    bottom: 50px;
    left: 0;
    a { 
        padding: 0 0 0 20px;
        width: 100px;
        height: 50px;
        background-color: #36c262;
        font-size: 32px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        &:hover {  
            background-color: #2cb658;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(44, 165, 64, 0.575) !important;
        }
    }
    &:before {
        content: '';
        margin-left: -75px;
    }
    &:hover {
        &:before {
            content: '';
            margin-left: 0;
        }
    }
}

.msg-btn {
    bottom: 110px;
    left: 0;
    a { 
        padding: 0 0 0 20px;
        width: 100px;
        height: 50px;
        background-color: #367ec2;
        font-size: 32px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        &:hover {  
            background-color: #2875a1;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(44, 92, 165, 0.575) !important;
        }
    }
    &:before {
        content: '';
        margin-left: -75px;
    }
    &:hover {
        &:before {
            content: '';
            margin-left: 0;
        }
    }
}

.show-btn {
    animation: show-btn .8s forwards;
}

.hide-btn {
    animation: hide-btn .8s forwards;
}

@keyframes show-btn {
    0% {
        margin-bottom: -80px;
    }
    100% {
        margin-bottom: 0;
    }
}

@keyframes hide-btn {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: -80px;
    }
}

@import './responsive.scss';