.page-admin {
    background-color: #fff;
    min-height: 768px;
    padding-bottom: 60px;
    .nav-green {
        background-color: #3AAF87;
        padding: 23px 52px;
        button.hamburger {
            font-size: 25px;
        }
        .dropdown-menu {
            margin-top: 10px;
            z-index: 1;
            .short-profile {
                padding: 15px 25px 20px 25px;
                border-bottom: 1px solid gray;
                p.name {
                    font-size: 14px;
                    font-family: segoe;
                }
            }
            .logout {
                padding: 0;
                padding-top: 10px;
                border-top: 1px solid gray;
                button {
                    width: 100%;
                }
            }
        }
    }
    .breadcrumb-container {
        width: 100%;
        padding: 20px 0;
        .breadcrumb {
            background-color: #CDF9E9;
            padding: 10px 25px;
            width: 90%;
            border-radius: 40px;
            margin: auto;
        }
    }
    .menu {
        width: 300px;
        height: 100%;
        background-color: #27303A;
        z-index: 3;
        transform: translate(-300px, 0);
        transition: transform 0.3s ease-in-out;
        .brand-menu {
            padding: 27px 0;
            border-bottom: 1px solid white;
            h1 {
                font-size: 28px;
                font-family: segoe;
                font-weight: lighter;
                margin: 0;
            }
            .btn-admin {
                position: absolute;
                top: 23px;
                right: 15px;
                padding: 10px;
            }
        }
        .list-menu {
            .item-menu {
                .icon-item, a.dest-item {
                    padding: 17px 0 17px 10px !important;
                    margin: 1px 0;
                }
                .icon-item {
                    width: 20%;
                }
                a.dest-item {
                    width: 220px;
                    font-family: segoe;
                    &:hover {
                        text-decoration: none;
                        animation: menu-hover .7s forwards;
                    }
                }
            }
        }
    }
    .show-menu {
        transform: translate(0, 0);
    }
    .overlay {
        background-color: rgb(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 2;
        display: none;
    }
    .show-overlay {
        display: inline-block;
    }
    footer.ft-green {
        width: 100%;
        background-color: #3AAF87;
        z-index: 1;
        p {
            margin: 0;
        }
    }
}

.modal-admin {
    .modal-content {
        border-radius: 20px;
        .modal-header, .modal-footer {
            display: inline-block !important;
        }
        .modal-header {
            h5 {
                color: #1d9269;
                font-size: 15px;
            }
            button {
                position: absolute;
                top: 17px;
                right: 17px;
            }
        }
        .modal-body {
            color: gray;
            h2 {
                font-weight: lighter;
                font-family: segoe;
                font-size: 28px;
            }
            .image-buku {
                width: 100%;
                height: 120px;
                background-color: rgb(199, 199, 199);
                margin: auto;
            }
            h1.detail-judul, h1.detail-nama {
                text-transform: uppercase;
                font-size: 18px;
                color: #1d9269;
                margin: 0 !important;
            }
            span.detail-kategori, span.detail-role {
                margin-top: 0 !important;
            }
            p.detail-penerbit {
                margin-bottom: 8px !important;
            }
            p.detail-tentang, p.detail-alamat {
                color: rgb(73, 73, 73) !important;
            }
            p.detail-stok, p.detail-phone {
                margin-top: 12px !important;
                font-size: 16px !important;
                span {
                    font-family: number;
                }
            }
            p.detail {
                margin: 0;
                color: black;
                font-size: 14px;
                text-align: justify;
            }
        }
        .modal-footer {
            button, a {
                width: 200px;
            }
        }
    }
}

.item-buku {
    position: relative;
    width: 100%;
    min-height: 190px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 55px;
    .badge {
        border-radius: 0;
    }
    .item-table-header {
        width: 100%;
        background-color: #a8a8a8;
        h1.judul {
            font-size: 15px;
            font-family: segoe;
            margin: 14px 25px;
            font-weight: bold;
        }
    }
    .item-table-body {
        padding: 55px 25px 5px 25px;
        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
        }
    }
    .image-buku {
        position: absolute;
        top: 0;
        right: 0;
        width: 225px;
        height: 100%;
        padding: 0 10px 10px 10px;
        border-bottom-left-radius: 40px;
        background-color: #fff;
        text-align: justify;
        .image {
            height: 100%;
            background-size: cover;
            img {
                border-bottom-left-radius: 40px;
            }
        }
    }
    .btn-action {
        bottom: 12px;
        left: 25px;
    }
    .item-table-footer {
        bottom: -37px !important;
        background-color: #d6d6d6;
        button {
            border-radius: 0;
            width: 170px;
        }
        .stok {
            margin-top: 10px;
        }
    }
}

.item-person {
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    .photo-person-wrapper {
        top: 0;
        left: 0;
        width: 170px;
        height: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        .photo-person {
            height: 100%;
            img {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
    .role-person {
        top: 15px;
        left: 15px;
    }
    .data-person {
        background-color: rgb(247, 247, 247);
        min-height: 150px;
        padding: 10px 15px 10px 180px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        h1.name-person {
            font-family: segoe;
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 1px rgb(114, 114, 114) solid;
        }
        p.username, p.contact-person {
            margin-top: -5px;
            font-size: 15px;
        }
        p.contact-person {
            font-size: 13px;
            color: rgb(112, 112, 112);
        }
    }
    .detail-wrapper {
        width: 80%;
        background-color: gray;
        bottom: -39px;
        button {
            border-radius: 0;
            border-top-right-radius: 20px;
            width: 170px;
        }
    }
}

.transaction-item-wrapper {
    min-height: 160px;
    background-color: #a8a8a8;
    .transaction-item {
        bottom: 0;
        right: 0;
        width: 99%;
        height: 100%;
        background-color: #fff;
        h1.id-transaksi {
            font-family: segoe;
            font-size: 18px;
            text-transform: uppercase;
            border-bottom: 1px rgb(114, 114, 114) solid;
        }
        p.person, p.info-transaksi {
            font-size: 14px;
            color: rgb(112, 112, 112);
        }
        .info {
            margin-top: -10px;
        }
        .btn-wrapper {
            .btn-success {
                width: 33px;
            }
            .btn-danger {
                width: 66px;
            }
            .btn-info {
                width: 99px;
            }
            .btn-purple {
                width: 132px;
            }
        }
        .info-book {
            margin-bottom: -20px;
            text-transform: uppercase;
            p {
                font-size: 15px;
                color: rgb(150, 150, 150) !important;
            }
        }
        .info-late {
            margin-top: -12px;
        }
    }
}

.month-report-info {
    font-family: segoe;
    letter-spacing: 1px;
}

#random-pass {
    right: 8px;
    top: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 0 solid black !important;
}

button.btn-notif {
    &:focus {
        outline: 1px auto rgba(112, 112, 112, 0.247) !important;
    }
}

@import './dashboard/dashboard.scss';