// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .breadcrumb-container {
        margin-bottom: -45px;
    }
    .detail-for-member {
        margin-top: 35px;
        .book-detail-for-member {
            .detail-book-title h1 {
                width: 100%;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .breadcrumb-container {
        margin-bottom: -45px;
    }
    .detail-for-member {
        margin-top: 35px;
        img {
            width: 80%;
        }
        .book-detail-for-member {
            .detail-book-title h1 {
                width: 100%;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    .breadcrumb-container {
        margin-bottom: -45px;
    }
    .detail-for-member {
        margin-top: 35px;
        img {
            width: 80%;
        }
        .book-detail-for-member {
            .detail-book-title h1 {
                width: 100%;
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) { 
    .about-user-db, .calendar, .mt--5 {
        margin-top: 0px !important;
    }
}