html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

@import './scroll-bar.scss';

.no-scroll-bar {
    overflow-y: hidden !important;
}

.page {
    width: 100%;
    height: 768px;
    position: relative;
}

.top-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bottom-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn-green {
    background-color: #539451;
    border-radius: 20px;
    &:hover, &:focus {
        background-color: #013D2D;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem  #539451b6 !important;
    }
}

.btn-purple {
    background-color: #6b1064;
    color: white;
    &:hover, &:focus {
        background-color: #440c3f;
        color: white;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem  #6b1064b4 !important;
    }
}

.btn-sm-text {
    font-size: 14px;
}

.btn-green-login {
    background-color: #36AB83;
    border-radius: 20px;
    &:hover, &:focus {
        background-color: #013D2D;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem  #539451b6 !important;
    }
}

.green-square {
    background-color: #388751;
    height: 123px;
}

.green-square-sm {
    background-color: #388751;
    height: 57px;
}

.dp-relative {
    position: relative;
}

.d-inline-block {
    display: inline-block;
}

button.btn-admin {
    background-color: rgba(255, 255, 255, 0);
    border: 0 solid black;
    padding: 0 10px 2px 10px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.178);
    }
    &:focus {
        outline: 1px auto rgba(112, 112, 112, 0.247) !important;
    }
}

.radius-admin {
    border-radius: 10px;
}

.gray-bg {
    position: relative;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    min-height: 300px;
}

.gray-bg-transaction {
    min-height: 10px !important;
}

.gray-wrapper {
    position: relative;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    margin-bottom: 10px;
}

.white-wrapper {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.bg-graphic {
    min-height: 350px !important;
}

.p-0 {
    padding: 0 !important;
}

select.select-dt {
    width: 50px !important;
    display: inline-block !important;
}

h1.title-pagination {
    color: gray;
    font-size: 26px;
    font-family: segoe;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.form-mg {
    margin-top: -13px;
}

.text-black {
    color: black;
}

.preview-img {
    width: 100px;
    height: 115px;
    background-color: rgb(199, 199, 199);
    margin: auto;
}

h1.title-admin {
    font-family: segoe;
    font-size: 24px;
}

.message {
    top: 40px;
    right: 40px;
    width: 380px;
    z-index: 2;
    border-radius: 15px;
    .message-header {
        border-bottom: 1px solid rgb(255, 255, 255);
        padding: 10px 20px 5px 20px;
        button {
            top: 2px;
            right: 2px;
        }
        .triangle-up {
            top: -17px;
            right: 8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid transparent;
            display: inline-block;
        }
    }
    .message-body {
        padding: 10px 40px 15px 20px;
        background-color: rgb(255, 255, 255);
        p {
            margin: 0;
            font-size: 14px;
        }
    }
}

.message-admin {
    top: 63px;
    right: 51px;
}

.message-danger {
    .message-header {
        background-color: rgb(240, 71, 71);
        .triangle-up {
            border-bottom: 10px solid rgb(240, 71, 71);
        }
    }
    button {
        &:focus {
            box-shadow: 0 0 0 0.1rem #cf5c5cd7 !important;
        }
    }
}

.message-success {
    .message-header {
        background-color: rgb(32, 158, 85);
        .triangle-up {
            border-bottom: 10px solid rgb(32, 158, 85);
        }
    }
    button {
        &:focus {
            box-shadow: 0 0 0 0.1rem #539451b6 !important;
        }
    }
}

.hide-msg {
    opacity: 0 !important;
    transition: opacity .4s ease-in-out;
}

.pagination-btn {
    height: 75px;
    nav {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.fit-cover {
    object-fit: cover;
}